body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}
.track {
    background-color: #1e1e1e;
    margin: 20px;
    padding: 15px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 3px 3px 10px rgba(128, 128, 128, 0.35);
    display: inline-block;
}
audio {
    width: 100%;
    margin-top: 10px;
}
footer {
    background-color: #1f1f1f;
    padding-bottom: 5px;
    padding-top: 5px;
    margin: 0px;
    font-size: 0.9em;
    color: #aaaaaa;
    border-top: 1px solid #333;
    bottom: 0;
    width: 100%;
    text-align: center;
}